<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form class="login-form">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username-login" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password-login" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>        
</body>
</html>

<srcipt src="/js/login.js"></srcipt>