<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Login</title>
    <link rel="styleheel" href="/css/style.css"/>
</head>
<body>
    <div class="login-container"style="text-align: center">
        <form class="login-form">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username-login" name="username" size="80" maxlength="100"required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password-login" name="password" size="80" maxlength="100" required>
            </div>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>        
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<srcipt src="/js/login.js"></srcipt>