<div>
    <form class="form" id="edit-post-form" style="text-align: center;">
        <label for="title">Title:</label>
        <input type="text" id="updated-title" name="title">
        <label for="content">Content:</label>
        <textarea id="updated-content" name="content"></textarea>
        <button data-id={{post.post_id}} type="submit">Update Post</button>
    </form>
</div>
<script src="/js/update.js"></script>