/*  main.hanndlebars  */
header ,section ,footer, body {
  width:100%;
  margin: 0 auto;
  background-color: rgb(43, 43, 43); 
  color: white; 
  padding: 20px; 
   
}
 
#mainContent {
  margin: 0;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  width: 960;
  height: 100%;
}


#nav ul {
  list-style-type: none; 
  padding: 0; 
}

#nav ul li {
  display: inline;
  margin-right: 10px; 
}

#nav ul li a {
  color: #fff; 
  text-decoration: none; 
  cursor: pointer;
  
}
.navigation {
  float: right;
  font-size: larger;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;


}
/* CSS for main content */
main {
  padding: 20px; 
}

/* CSS for footer */
footer {
  background-color: rgb(43, 43, 43); 
  color: white; 
  padding: 10px; 
  text-align: center; 
  font-weight: 100;
}


/* login handlebars */
.login-container {
   width: 960;
   height: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-sizing: border-box;
   padding: 40px;
   z-index: 9;
   background: rgba(67, 83, 101,.9);
   box-shadow: 0 15px 25px rgba(67, 83, 101,-15);
   text-align:center;
}


#submit-button{
  justify-content: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(to right,#ff5a5f ,#ff256d );
    transition: all .5s ease;
}
#submit-button:hover{
    background:linear-gradient(to right,#FFE08D,#FB7DA8) ;
}



/*home page handlebar */

#login-welcome-post {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}